/* styles.css */

.top-bar {
    background: linear-gradient( rgba(72, 221, 237, 0.728), white);
    color: black;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 15px;
    width: 98%;
    height: 20%;
}

.title{
    color: white;
    text-align: left;
    position: absolute;
    top: 40px;
    left: 350px;
    width: 50%;
    font-family: 'Fantasy', sans-serif;
}

.botoestopo {
    text-align: left; /* Alinha o texto à esquerda dentro do elemento */
    left: 5;
    background-color: transparent;
    border-radius: 3px;
    font-size: 16px; 
}

/* Estilo para os botões */
.botoestopo button {
    padding: 0.7em;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    font-size: 1em;
}

.botoestopo a button:hover {
    border: 1px solid black;
}

.meu-form {
    position: absolute;
    width: 300px;
    top: 200px;
    left: 525px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
}

.meu-form div {
    margin-bottom: 1em;
}

.meu-form label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

.meu-form input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: .3em;
}

.meu-form button {
    padding: 0.7em;
    color: black;
    background-color: transparent;
    border-radius: .3em;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid black;
}

.meu-form button:hover {
    border: 2px solid black;
}

.Login {
    background-color: #f9f9f9; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    width: 300px; /* Largura do formulário */
    margin: 0 auto; /* Centraliza na página */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilo para o formulário dentro da área de login */
.Login form {
    display: flex; /* Utiliza flexbox para alinhar verticalmente */
    flex-direction: column; /* Alinha os elementos verticalmente */
}

/* Estilo para mensagens de erro */
.Login .error-message {
    color: red; /* Cor do texto vermelho */
    margin-bottom: 10px; /* Margem inferior */
}

/* Estilo para botões de login e criar conta */
.Login .botoes {
    margin-top: 10px; /* Margem superior */
}

.Login .botoes a {
    display: inline-block; /* Exibe como bloco inline */
    margin-right: 10px; /* Margem direita entre os botões */
    text-decoration: none; /* Remove o sublinhado do link */
}

.Login .botoes button {
    background-color: transparent; /* Cor de fundo azul */
    color: black; /* Cor do texto branco */
    border: 1px solid black;
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Altera o cursor para mão ao passar o mouse */
    border-radius: .3em; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.Login .botoes button:hover {
    border: 2px solid black; /* Cor de fundo mais escura ao passar o mouse */
}
